.section-login{
    /* aparence */
    max-width:100rem;
    height: 55rem;
    border-radius: 0.3rem;

    /* element position */
    margin: auto;
    margin-top: 5rem;

    /* items position */
    display: none;
}
.section-login_banner {
    /* aparence */
    max-width: 50rem;
    height: 100%;
}
.section-login_banner img {
    /* aparence */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FORMULARIO */
.alibaba_foto{
    width: 11rem;
    border: 1px solid #FE963F;
    border-radius: 20%;
    margin-bottom: -2rem;
    background-color: #fff;
}
.titulo{
    color: #FE963F;
    font-weight: 900;
    font-size: 1.9rem;
    margin: 1rem;
}
.boton{
    /* aparence */
    background-color: #FE963F;
    border: none;
    color: #fff;
    width: 7rem;
    height: 2rem;
    cursor: pointer;
    margin: 1rem auto;
    border-radius: 0.4rem;
    font-size: 1.5rem;
}
.formulario{
    width: 27rem;
    height: 24rem;
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 0.5rem;
    border: 1px solid #FE963F;
}

.texto{
    font-size: 0.85rem;
    margin: 0rem 0 0rem 0;
}
.entradas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: flex-start;
}
.Username, .Password{
    margin-top: 1rem;
}
.detalle{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}
.asterisco{
    color: #FE963F;
}
label input{
    border: 1px solid #FE963F;
    border-radius: 0.2rem;
    width: 23rem;
    height: 2.2rem;
    background-color: transparent;
    outline: none;
    font-size: 0.7rem;
    padding: 1rem;
}
.contra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 1rem;
}
.soluciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.olvideMiContraseña{
    display: none;
    font-size: 0.7rem;
    text-decoration: none;
    color: #FE963F;
    font-weight: bolder;
}

.botonVer{
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.3rem 0 0 0.3rem;
    cursor: pointer;
}
.registrarte{
    text-decoration: none;
    padding: 0.5rem 2rem;
    background-color: #FE963F;
    color: white;
    font-weight: 400;
    margin: 0.6rem;
    border-radius: 2rem;
}
.siguiente{
    text-decoration: none;
    display: none;
    padding: 0.5rem 2rem;
    background-color: #FE963F;
    color: white;
    font-weight: 400;
    margin: 0.6rem;
    border-radius: 2rem;
}
.activar{
    display: block;
}