.section-login{
    /* aparence */
    max-width:100rem;
    height: 55rem;
    border-radius: 0.3rem;

    /* element position */
    margin: auto;
    margin-top: 5rem;

    /* items position */
    display: none;
}
.section-login_banner {
    /* aparence */
    max-width: 50rem;
    height: 100%;
}
.section-login_banner img {
    /* aparence */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FORMULARIO */
.titulo{
    color: #C06CA8;
    font-weight: 900;
    font-size: 1.9rem;
    margin: 1rem;
}
.boton{
    /* aparence */
    background-color: #B64B93;
    border: none;
    color: #fff;
    width: 23rem;
    height: 3rem;
    cursor: pointer;

    margin: 1rem auto;
    border-radius: 0.8rem;

    /* items position */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.formulario{
    width: 27rem;
    height: 24rem;
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 0.5rem;
    border: 1px solid #B64B93;
}

.texto{
    font-size: 0.85rem;
    margin: 0rem 0 0rem 0;
}
.entradas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: flex-start;
}
.Email, .Password{
    margin-top: 1rem;
}
.detalle{
    display: flex;
    flex-direction: row;
}
.asterisco{
    color: #B64B93;
}
label input{
    border: 1px solid #B64B93;
    border-radius: 0.2rem;
    width: 23rem;
    height: 2.2rem;
    background-color: transparent;
    outline: none;
    font-size: 0.7rem;
    padding: 1rem;
}
.siguiente{
    display: none;
    text-decoration: none;
    padding: 0.1rem;
    background-color: #B64B93;
    color: white;
    font-weight: 400;

}
.activar{
    display: block;
}